<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/tailwind.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./js/jquery.js"></script>
</head>
<body class="grid place-content-center">
    <div class="flex justify-center items-center">
        <img width="320px" src="./assets/logo.png" alt="la_carnecita">
        <img width="250px" height="auto" src="./assets/nameEmpresa.png" alt="nombre_empresa">
    </div>
    <main class="flex flex-wrap-reverse justify-center items-end gap-x-5 gap-y-14">
        <div class="w-[320px] mainContainer">
            <h2 id="formTitulo" class="mb-8">Agregar Producto <hr></h2>
            <form id="formProductos" class="flex flex-col gap-y-5" onsubmit="agregarProductos(event)">
                <label for="inpImagen">
                    <input 
                        name="imagen" 
                        id="inpImagen" 
                        class="hidden" 
                        type="file" 
                        accept="image/*" 
                        onchange="visualizarImagen(event)"
                    >
                    <div class="w-full h-32 p-2 border border-dashed rounded-sm border-orange-600 cursor-pointer flex items-center justify-center">
                        <img id="prwImagen" class="w-full h-full object-contain hidden" src="" alt="">
                        <div id="plcImagen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-auto stroke-orange-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                            </svg>                      
                            <p class="mt-2 text-white">Subir una imagen</p>
                        </div>
                    </div>
                </label>
                <div class="textfield iconRight">
                    <select name="categoria" id="inpCategoria">
                        <option value="">Seleccione la categoría</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Verduras">Verduras</option>
                        <option value="Embutidos">Embutidos</option>
                        <option value="Lacteos">Lácteos</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Snacks">Snacks</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                    </svg>                    
                </div>
                <div class="textfield">
                    <input 
                        name="nombre" 
                        id="inpNombre" 
                        type="text" 
                        placeholder="Ingrese el nombre"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>                              
                </div>
                <div class="textfield">
                    <input 
                        name="precio" 
                        id="inpPrecio" 
                        type="text" 
                        placeholder="Ingrese el precio"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>                              
                </div>
                <div class="textfield">
                    <input 
                        name="stock" 
                        id="inpStock" 
                        type="number" 
                        placeholder="Ingrese el stock"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                    </svg>                              
                </div>                    
                <div class="textfield">
                    <textarea 
                        name="descripcion" 
                        id="inpDescripcion" 
                        placeholder="Ingrese una descripción" 
                        data-required="false"
                    ></textarea>                      
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                    </svg>                                             
                </div>
                <div class="mt-3 flex gap-x-4">
                    <button  
                        class="btnGradient primary btnloading flex-auto"
                        type="submit"                        
                    >
                        <span id="txtEnviar">Guardar</span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="w-4 h-4 fill-white animate-[spin_1.6s_linear_infinite]">
                            <path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/>
                        </svg>
                    </button>
                    <button 
                        id="formCancelar" 
                        class="btnGradient danger flex-auto hidden"
                        type="button" 
                        onclick="prepararFormulario()"                        
                    >
                        Cancelar
                    </button>
                </div>
            </form>
        </div> 
        <div class="min-w-[500px] mainContainer">
            <h2 id="formTitulo" class="mb-8">Productos actuales <hr></h2>
            <table class="mainTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="data" onclick="EjecutarAcción(event)"></tbody>
            </table>
        </div>    
    </main>
</body>
<script src="./js/index.js"></script>
</html>